section#fourTenGone {
  font-family: Ubuntu, "Lato", "Open Sans", "Lucida Grande", Helvetica, Roboto, Segoe UI, sans-serif;
  font-size: 15rem;
  color: floralWhite;
}
div#core410 {
  background: linear-gradient(#c4daff , #4333aa);
}